:root {
  --dark-title-color: #111214;
  --light-title-color: #FFFFFF;
  --accent-title-color: #FE390C;
  --primary-text-color: #A9A9AA;
  --dark-text-color: #111214;
  --light-text-color: #FFFFFF;
  --accent-text-color: #FE390C;
  --placeholders-color: rgba(169, 169, 170, 0.6);
  --icons-color: #ffffff;
  --icons-background-color: rgba(255, 255, 255, 0.1);
  --btn-color: #FE390C;
  --btn-color-hover: #D82E00;
  --btn-text: #ffffff;
  --active-link-color: #FE390C;
  --nav-link-color: #A9A9AA;
  --contact-link-color: #FE390C;
  --primary-background-color: #fff;
  --secondary-background-color: #111214;
  --portfolio-background-color: #e6e4e4;
  --heading-font: "Anton", sans-serif;
  --text-font: "Montserrat", sans-serif;
  --heading-line-height: 1.5;
  --heading-font-weight: 400;
  --primary-text-line-height: 2.3;
  --secondary-text-line-height: 1.7;
  --text-font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: black;
}

body {
  font-family: var(--text-font);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.title {
  display: flex;
  gap: 17px;
  align-items: center;
  text-transform: uppercase;
  color: var(--dark-text-color);
  font-family: var(--heading-font);
  font-size: 32px;
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

.title-accent {
  font-family: var(--heading-font);
  color: var(--accent-text-color);
  font-size: 64px;
  font-weight: 400;
}

.button {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 24px;
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-family: var(--text-font);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--btn-color-hover);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  position: fixed;
  width: 100%;
  padding: 15px 16px;
  background-color: transparent;
  z-index: 2;
}
.header--scroll {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s ease-in-out;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.nav__link {
  font-size: 12px;
  color: var(--nav-link-color);
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--active-link-color);
  transform: scale(1.1);
}
.nav__link--current {
  color: var(--active-link-color);
}
.nav__link--contact {
  color: var(--contact-link-color);
  display: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--contact:hover, .nav__link--contact:focus {
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  .nav__link--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 39px;
    border: 1px solid #FE390C;
    border-radius: 4px;
  }
}

.mob-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.5s ease;
  padding: 15px 32px;
  background-color: rgb(173, 171, 171);
}
@media (min-width: 1200px) {
  .mob-menu-container {
    display: none;
  }
}
.mob-menu-container.is-open {
  opacity: 1;
  transform: translateY(0);
}

.is-menu-open {
  overflow: hidden;
}

.mob-menu__btn--open {
  position: absolute;
  top: 0px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #57595d;
  border-radius: 2px;
}
@media (min-width: 1200px) {
  .mob-menu__btn--open {
    display: none;
  }
}

.mob-menu__icon--open {
  fill: #57595d;
}

.mob-menu__btn--close {
  position: absolute;
  top: 15px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #57595d;
  border-radius: 2px;
}

.mob-menu__icon--close {
  fill: #57595d;
}

.mob-menu {
  height: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.mob-nav__link {
  font-size: 30px;
  font-weight: 700;
  color: whitesmoke;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--active-link-color);
  transform: scale(1.1);
}
.mob-nav__link--current {
  color: var(--active-link-color);
}
.mob-nav__link--contact {
  color: var(--contact-link-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid #FE390C;
  border-radius: 4px;
}

.mob-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 24px;
  align-self: end;
}
@media (min-width: 1200px) {
  .pagination {
    align-self: center;
  }
}
.pagination--to-end {
  align-self: end;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pagination-btn:hover, .pagination-btn:focus {
  background-color: var(--btn-color-hover);
}

.pagination-icon {
  fill: var(--icons-color);
}

.logo {
  display: block;
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 35px;
  line-height: var(--heading-font-height);
}
@media (min-width: 1200px) {
  .logo {
    font-size: 40px;
  }
}

.logo-letter:nth-child(1) {
  color: #ffffff;
}
.logo-letter:nth-child(2) {
  color: #FE390C;
}

.hero {
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(47, 48, 58, 0.1)), url(../images/hero-picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 765px;
}

.hero__greatings {
  font-size: 24px;
  font-weight: bold;
  color: var(--light-title-color);
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .hero__greatings {
    margin-bottom: 10px;
  }
}

.hero__greatings-accent {
  color: var(--accent-title-color);
}

.hero__title {
  font-size: 58px;
  font-weight: regular;
  color: var(--light-title-color);
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 130px;
    margin-bottom: 12px;
  }
}
.hero__title::after {
  content: "|";
  margin-left: -4px;
  font-weight: 100;
}
@media (min-width: 1200px) {
  .hero__title::after {
    margin-left: -12px;
  }
}

.hero__description {
  font-size: 16px;
  font-weight: bold;
  color: var(--light-title-color);
  margin-bottom: 24px;
}

.alternative-hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(-30deg, #111214 0%, #111214 15%, #161719 15%, #161719 50%, #1f2022 50%, #1f2022 60%, #1a1b1d 60%, #1a1b1d 90%, #111214 90%, #111214 100%);
}

.alternative-hero-container {
  height: 447px;
  padding-top: 182px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .alternative-hero-container {
    height: 547px;
  }
}
.alternative-hero-container::after {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--heading-font);
  font-size: 330px;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.05);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.alternative-hero-container--portfolio::after {
  content: "Portfolio";
}
.alternative-hero-container--about::after {
  content: "about me";
  white-space: nowrap;
}

.alternative-hero__title {
  font-size: 80px;
  font-weight: regular;
  color: var(--light-title-color);
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .alternative-hero__title {
    font-size: 130px;
  }
}

.alternative-hero__social-links {
  margin: auto auto 15px auto;
}

.socials {
  display: flex;
  gap: 32px;
}

.socials--column {
  flex-direction: column;
}

.socials__item {
  width: 42px;
  height: 42px;
}

.socials__item-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--icons-background-color);
  color: var(--icons-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__item-link:hover, .socials__item-link:focus {
  color: var(--active-link-color);
}

.socials__item-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 75px;
}
@media (min-width: 1200px) {
  .about__content {
    flex-direction: row;
    gap: 65px;
  }
}
.about__content > * {
  flex: 1;
}

.about__stats {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .about__stats {
    flex-direction: row;
  }
}

.about__stat {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: auto;
}
.about__stat:nth-child(2n) {
  margin-left: 0;
  margin-right: auto;
}

.about__stat-info {
  display: flex;
  gap: 12px;
  align-items: end;
}

.abut__stat-text {
  color: var(--dark-text-color);
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: var(--secondary-text-line-height);
}

.about__description {
  margin-left: 76px;
  font-family: var(--text-font);
  font-size: 12px;
  font-weight: var(--text-font-weight);
  line-height: var(--primary-text-line-height);
}
.about__description:not(:last-child) {
  margin-bottom: 16px;
}

.about_photo-wrapper {
  align-self: center;
  max-width: 343px;
}
@media (min-width: 1200px) {
  .about_photo-wrapper {
    max-width: 485px;
  }
}

.about__photo {
  width: 100%;
}

.about__subtitle {
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-title-color);
  margin-top: 75px;
}

.about__text {
  font-size: 12px;
  margin-top: 15px;
}
@media (min-width: 1200px) {
  .about__text {
    font-size: 14px;
  }
}

.about-page__stats {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .about-page__stats {
    justify-content: start;
    gap: 64px;
    margin-top: 50px;
  }
}

.about-page__stat-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.abut-page__stat-text {
  color: var(--dark-text-color);
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: var(--secondary-text-line-height);
}

.stacks {
  background-image: linear-gradient(to bottom, #F7F7F7 50%, var(--primary-background-color) 50%);
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .stacks::before {
    content: "Fullstack";
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-family: var(--heading-font);
    font-size: 60px;
    font-weight: medium;
    color: rgba(255, 255, 255, 0.03);
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .stacks::before {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.01);
  }
}
@media (min-width: 768px) {
  .stacks::after {
    content: "Developer";
    position: absolute;
    top: 60%;
    left: 73%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-family: var(--heading-font);
    font-size: 60px;
    font-weight: medium;
    color: rgba(255, 255, 255, 0.03);
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .stacks::after {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.01);
  }
}

.stacks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacks-title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .stacks-title {
    margin-bottom: 65px;
  }
}

.stacks__list {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
}
@media (min-width: 1200px) {
  .stacks__list {
    margin-bottom: 80px;
    gap: 90px;
  }
}

.stacks__icon {
  fill: #A7AAB4;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stacks__icon:hover {
  fill: var(--active-link-color);
}
.stacks__icon:focus {
  fill: var(--active-link-color);
}

.stacks__actions {
  width: 100%;
  background: linear-gradient(-30deg, #111214 0%, #111214 15%, #161719 15%, #161719 50%, #1f2022 50%, #1f2022 60%, #1a1b1d 60%, #1a1b1d 90%, #111214 90%, #111214 100%);
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1200px) {
  .stacks__actions {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.stacks__actions-title {
  color: var(--light-text-color);
  text-align: center;
  font-family: var(--heading-font);
  font-size: 32px;
  font-weight: var(--text-font-weight);
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .stacks__actions-title {
    font-size: 40px;
  }
}

.stacks__hire-button {
  margin: 0 auto 20px auto;
}

.stacks__download-button {
  background-color: transparent;
  color: var(--btn-text);
  border: none;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.stacks__download-button:hover {
  transform: scale(1.1);
}
.stacks__download-button--modal {
  margin-top: 15px;
  color: var(--dark-text-color);
  font-weight: 500;
}

.stacks__download-icon {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.stacks__download-button:hover .stacks__download-icon {
  transform: scale(1.2);
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-title {
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .service-title {
    margin-bottom: 55px;
  }
}

.service__list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .service__list {
    flex-direction: row;
  }
}

.service__item {
  padding: 40px 20px 20px 20px;
  background-color: #F7F7F7;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__item:hover, .service__item:focus {
  color: var(--light-text-color);
  background-color: var(--active-link-color);
}

.service__item-icon {
  margin-bottom: 24px;
  fill: #FE390C;
}
.service__item:hover .service__item-icon {
  fill: var(--icons-color);
}

.service__item-title {
  margin-bottom: 8px;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  line-height: var(--primary-text-line-height);
  color: var(--dark-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__item:hover .service__item-title {
  color: var(--light-title-color);
}

.portfolio {
  background-color: #ECF0F0;
  position: relative;
}

.portfolio__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .portfolio__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.portfolio__filter {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio__filter-button {
  border: none;
  padding: 12px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio__filter-button--current {
  border: 1px solid var(--active-link-color);
  color: var(--active-link-color);
  border-radius: 4px;
}
.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  color: var(--active-link-color);
}

.portfolio-slider {
  overflow: hidden;
}
.portfolio-slider .swiper-pagination-bullet {
  height: 5px;
  width: 15px;
  background-color: var(--btn-color);
  border-radius: 0%;
}

.portfolio__list {
  display: flex;
}
.portfolio__list--portfoio {
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio__item {
  background-color: var(--portfolio-background-color);
}
.portfolio__item--portfolio {
  width: 100%;
}
@media (min-width: 1200px) {
  .portfolio__item--portfolio {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.portfolio__item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item-link:hover, .portfolio__item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__item-img {
  width: 100%;
}

.portfolio__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 24px;
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(0, 0, 0, 0.5);
  color: var(--light-text-color);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item-link:hover .portfolio__item-overlay {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio__item-link:focus .portfolio__item-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio__item-content {
  padding: 20px 24px;
}

.portfolio__item-title {
  font-family: var(--heading-font);
  font-size: 22px;
  font-weight: var(--heading-font-weight);
  color: var(--dark-title-color);
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item-subtitle {
  font-family: var(--heading-font);
  font-size: 12px;
  font-weight: var(--heading-font-weight);
  color: var(--dark-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonial__content {
  position: relative;
  padding-top: 155px;
}
@media (min-width: 1200px) {
  .testimonial__content {
    padding-top: 70px;
    display: flex;
    gap: 120px;
  }
}

.testimonial__image {
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .testimonial__image {
    margin-bottom: 0;
  }
}

.testimonial__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .testimonial__wrapper {
    width: calc(100% - 70px - 364px);
    margin-top: 0;
    justify-content: space-between;
  }
}

.testimonial-slider {
  overflow: hidden;
}
.testimonial-slider .swiper-pagination-bullet {
  background-color: var(--btn-color);
  border-radius: 0%;
}

.testimonial__info {
  margin-bottom: 45px;
}
@media (min-width: 1200px) {
  .testimonial__info {
    margin-bottom: 0;
  }
}

.testimonial__title {
  position: absolute;
  top: 30px;
}
@media (min-width: 1200px) {
  .testimonial__title {
    position: static;
  }
}

.testimonial__text {
  color: var(--dark-text-color);
  margin-bottom: 32px;
}

.testimonial__author {
  font-weight: 400;
}

.testimonial__name {
  color: var(--accent-text-color);
  font-size: 16px;
  font-weight: var(--text-font-weight);
}

.footer {
  background: linear-gradient(-30deg, #111214 0%, #111214 15%, #161719 15%, #161719 50%, #1f2022 50%, #1f2022 60%, #1a1b1d 60%, #1a1b1d 90%, #111214 90%, #111214 100%);
}

.footer-container {
  display: flex;
  gap: 45px;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-title {
  color: var(--light-title-color);
}

.footer__content {
  display: flex;
  gap: 65px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__address {
  font-style: normal;
}

.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.footer__contact-link {
  display: flex;
  gap: 16px;
}

.footer__contact-type {
  margin-bottom: 9px;
  font-size: 16px;
  color: var(--light-text-color);
}

.footer__contact-detail {
  color: var(--primary-text-color);
}

@media (min-width: 1200px) {
  .form-wrapper {
    width: 656px;
  }
}

.form-info {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-size: 20px;
  color: var(--light-text-color);
}
.form-info--accent {
  color: var(--accent-text-color);
}
.form-info::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  margin-top: 24px;
}

.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1200px) {
  .form-fields {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 15px);
}

.form-label {
  margin-bottom: 12px;
  color: var(--light-text-color);
}

.form-input {
  width: 100%;
  height: 54px;
  padding: 19px 16px;
  background-color: var(--icons-background-color);
  outline: transparent;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  color: var(--light-text-color);
  line-height: var(--secondary-text-line-height);
}
.form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
}

.form-textarea {
  resize: none;
  height: 124px;
}

.form-button {
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .backdrop {
    padding: 93px 15px;
  }
}
@media screen and (max-width: 1199px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 609px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) perspective(200px) rotateY(0.5turn);
}
@media screen and (max-width: 415px) {
  .modal {
    padding: 40px 20px 40px 20px;
  }
}
@media screen and (max-width: 375px) {
  .modal {
    padding: 40px 10px 40px 10px;
  }
}
@media screen and (max-width: 355px) {
  .modal {
    padding: 40px 5px 40px 5px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 94px;
    left: 50%;
    transform: translate(-50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    max-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-btn:hover .close-btn__icon {
  fill: var(--active-link-color);
  cursor: pointer;
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-title-color);
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

/* .modal-form{} */
.modal-form__field {
  margin: 0 auto 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-form__field:nth-of-type(4n) {
  margin-bottom: 20px;
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__contact-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  max-width: 448px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  color: #000000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input--left-padding {
  padding-left: 42px;
}
.modal-form__input:hover {
  border-color: var(--active-link-color);
}
.modal-form__input:focus {
  border-color: var(--active-link-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover + .modal-form__icon {
  fill: var(--active-link-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--active-link-color);
}
.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__icon {
  fill: var(--active-link-color);
}
.modal-form__input:not(:-ms-input-placeholder) + .modal-form__icon {
  fill: var(--active-link-color);
}
.modal-form__input:not(:placeholder-shown) + .modal-form__icon {
  fill: var(--active-link-color);
}

.modal-form__comment {
  resize: none;
  height: 120px;
}
.modal-form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy {
  margin-bottom: 30px;
}

.modal-form__btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text);
  text-align: center;
  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn:hover {
  background-color: var(--btn-color-hover);
}
.modal-form__btn:focus {
  background-color: var(--btn-color-hover);
}

.questions-container {
  background-color: #F7F7F7;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .questions-container {
    padding: 80px 193px;
  }
}

.questions-title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .questions-title {
    margin-bottom: 65px;
  }
}

.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  border: 1px solid #DFE2E5;
}

.faq-title {
  position: relative;
  display: block;
  padding: 16px;
  font-family: var(--heading-font);
  font-size: 16px;
  color: var(--dark-title-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.faq-title:hover {
  background-color: var(--primary-background-color);
}
@media (min-width: 1200px) {
  .faq-title {
    font-size: 20px;
  }
}
.faq-input:checked ~ .faq-title {
  background-color: var(--primary-background-color);
}
.faq-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #100d22 transparent transparent transparent;
}
.faq-input:checked ~ .faq-title::after {
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #100d22 transparent;
}

.faq-text {
  display: none;
  padding: 11px 12px 16px 12px;
  background-color: var(--primary-background-color);
  font-size: 12px;
  font-weight: medium;
}
@media (min-width: 1200px) {
  .faq-text {
    padding: 8px 24px 24px 24px;
    font-size: 14px;
  }
}
.faq-input:checked ~ .faq-text {
  display: block;
}/*# sourceMappingURL=main.css.map */