.about {}

.container {}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 75px;

    @include desktop {
        flex-direction: row;
        gap: 65px;
    }

    & >* {
        flex: 1;
    }
}

.about__stats {
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }
}

.about__stat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;

    &:nth-child(2n) {
        margin-left: 0;
        margin-right: auto;
    }
}

.about__stat-image {}

.about__stat-info {
    display: flex;
    gap: 12px;
    align-items: end;
}

.abut__stat-text{
    color: var(--dark-text-color);
    font-family: var(--text-font);
    font-size: 14px;    
    font-weight: 700;
    line-height: var(--secondary-text-line-height);
}

.about__info {}

.about__description {
    margin-left: 76px;

    font-family: var(--text-font);
    font-size: 12px;
    font-weight: var(--text-font-weight);
    line-height: var(--primary-text-line-height);

    &:not(:last-child) {
            margin-bottom: 16px;
        }
}


/////////////////////////////////

.about_photo-wrapper{
    align-self: center;
    max-width: 343px;

    @include desktop {
        max-width: 485px;
    }
}

.about__photo{
    width: 100%;
}

.about__subtitle{
    font-size: 32px;
    font-weight: 600;
    color: var(--dark-title-color);

    margin-top: 75px;
}

.about__text{
    font-size: 12px;
    margin-top: 15px;

    @include desktop{
        font-size: 14px;
    }
}

.about-page__stats {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

    @include desktop {
        justify-content: start;
        gap: 64px;

        margin-top: 50px;
    }
}

.about-page__stat {
}

.about-page__stat-info {
display: flex;
align-items: center;
gap: 12px;
}

.abut-page__stat-text {
    color: var(--dark-text-color);
    font-family: var(--text-font);
    font-size: 14px;
    font-weight: 700;
    line-height: var(--secondary-text-line-height);
}

