.download-link {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    color: var(--btn-text);
    cursor: pointer;
    align-self: center;

    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.1);
    }

    &--modal {
        margin-top: 15px;
        color: var(--dark-text-color);
        font-weight: 500;
    }
}

.download-icon {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    .stacks__download-button:hover & {
        transform: scale(1.2);
    }
}