.footer {
    background: linear-gradient(-30deg, #111214 0%, #111214 15%, #161719 15%, #161719 50%, #1f2022 50%, #1f2022 60%, #1a1b1d 60%, #1a1b1d 90%, #111214 90%, #111214 100%);}

.footer-container {
    display: flex;
    gap: 45px;
    flex-direction: column;
    
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-title {
    color: var(--light-title-color);
}

.footer__content {
    display: flex;
    gap: 65px;
    flex-direction: column;
    justify-content: space-between;
}

.footer__address {
    font-style: normal;
}

.footer__contact-list {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.footer__contact-item {}

.footer__contact-info {}

.footer__contact-link {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__contact-icon {}

.footer__contact-type {
    margin-bottom: 9px;

    font-size: 16px;
    color: var(--light-text-color);
}

.footer__contact-detail {
    color: var(--primary-text-color);
}



