.footer {
    background-color: var(--secondary-background-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    
    @include desktop {
        flex-direction: row;
    }
}

.footer-title {
    color: var(--light-title-color);
}

.footer__content {}

.footer__address {}

.footer__contact-list {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 50px;
}

.footer__contact-item {}

.footer__contact-info {}

.footer__contact-link {
    display: flex;
    gap: 16px;
}

.footer__contact-icon {}

.footer__contact-type {
    margin-bottom: 9px;

    font-size: 16px;
    color: var(--light-text-color);
}

.footer__contact-detail {
    color: var(--primary-text-color);
}

.footer__socials {
    margin-top: 47px;
    margin-bottom: 47px;
}



