.footer {
    background-color: var(--secondary-background-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    
    @include desktop {
        flex-direction: row;
    }
}

.footer-title {
    color: var(--light-title-color);
}

.footer__content {}

.footer__address {}

.footer__contact-list {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 50px;
}

.footer__contact-item {}

.footer__contact-info {}

.footer__contact-link {
    display: flex;
    gap: 16px;
}

.footer__contact-icon {}

.footer__contact-type {
    margin-bottom: 9px;

    font-size: 16px;
    color: var(--light-text-color);
}

.footer__contact-detail {
    color: var(--primary-text-color);
}

.footer__socials {
    margin-top: 47px;
    margin-bottom: 47px;
}

.footer__form-wrapper {}

.footer__form-info {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 20px;
    color: var(--light-text-color);

    &--accent {
        color: var(--accent-text-color);
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--light-text-color);
        margin-top: 24px;
    }
}

.footer__form {}

.footer__form-fields {}

.footer__form-label {}

.footer__form-input {}

.footer__form-textarea {}

.footer__form-button {}

.button {}