.header {
    position: fixed;
    width: 100%;
    padding: 15px 16px;
    background-color: transparent;
    z-index: 2;

    &--scroll {
        background-color: rgba(0, 0, 0, 0.8);
        transition: background-color 0.5s ease-in-out;
    }
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: none;

    @include desktop {
        display: flex;
        flex-direction: row;
    }
}

.nav__list {
    display: flex;
    flex-direction: row;
    gap: 54px;
}

.nav__link {
    font-size: 12px;
    color: var(--nav-link-color);
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--active-link-color);
        transform: scale(1.1);
    }

    &--current {
        color: var(--active-link-color);
    }

    &--contact {
        color: var(--contact-link-color);
        display: none;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            transform: scale(1.1);
        }

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 92px;
            height: 39px;

            border: 1px solid #FE390C;
            border-radius: 4px;
        }
    }
}