.logo {
    display: block;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 35px;
    line-height: var(--heading-font-height);

    @include desktop {
        font-size: 40px;
    }
}

.logo-letter {    
    &:nth-child(1) {
        color: #ffffff;
    }

    &:nth-child(2) {
        color: #FE390C;
    }
}

.header__logo {}