.logo {
    display: block;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 32;
    line-height: var(--heading-font-height);
}

.logo-letter {
    &:nth-child(1) {
        color: #ffffff;
    }

    &:nth-child(2) {
        color: rgba(169, 169, 170, 0.5);
    }

    &:nth-child(3) {
        color: #FE390C;
    }
}

.header__logo {}