.mob-menu-container {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    padding: 40px 40px;

    background-color: rgb(173, 171, 171);
    overflow: auto;

    @include desktop {
        display: none;
    }
}

.mob-menu__btn--open {
    position: absolute;
    top: 0px;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #57595d;
    border-radius: 2px;

    @include desktop {
        display: none;
    }
}

.mob-menu__icon--open {
    fill: #57595d;
}

.mob-menu__btn {
    &--close{
        position: absolute;
        top: 35px;
        right: 32px;
    }
}

.mob-menu__icon--close {}

.mob-menu {
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-nav {}

.mob-nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.mob-nav__item {}

.mob-nav__link {
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    &:hover,
    &:focus {
        color: var(--active-link-color);
        transform: scale(1.1);
    }
        
    &--current {
        color: var(--active-link-color);
    }
        
    &--contact {
        color: var(--contact-link-color);

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
                    
        border: 1px solid #FE390C;
        border-radius: 4px;
    }
}

.mob-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    // margin-top: auto;
}

.mob-socials {}