.portfolio {
    background-color: #ECF0F0;
    position: relative;
}

.portfolio__content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 32px;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.portfolio__filter {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.portfolio__filter-button {
    border: none;
    padding: 12px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary-text-color);
    text-transform: uppercase;
    cursor: pointer;

    &--current {
        border: 1px solid var(--active-link-color);
        color: var(--active-link-color);
        border-radius: 4px;
    }

    &:hover,
    &:focus {
        color: var(--active-link-color);
    }
}

.portfolio-slider {
    overflow: hidden;

    & .swiper-pagination-bullet {
        height: 5px;
        width: 15px;
        background-color: var(--btn-color);
        border-radius: 0%;
    }
}

.portfolio__list {
    display: flex;

    &--portfoio {
    flex-wrap: wrap;
    gap: 24px;
    }
}

.portfolio__item {
    background-color: var(--portfolio-background-color);

    &--portfolio {
        width: 100%;

        @include tablet {
            flex-basis: calc((100% - 24px) / 2);
        }

        @include desktop {
            flex-basis: calc((100% - 48px) / 3);
        }
    }
}

.portfolio__item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__item-img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio__item-img {
    width: 100%;
    
}

.portfolio__item-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 40px 24px;

    font-size: 14px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background: rgba(0, 0, 0, 0.5);
    color: var(--light-text-color);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__item-link:hover & {
        transform: translateY(0%);
        opacity: 1;
    }

    .portfolio__item-link:focus & {
        transform: translateY(0%);
        opacity: 1;
    }
}


.portfolio__item-content {
    padding: 20px 24px;
}

.portfolio__item-title {
    font-family: var(--heading-font);
    font-size: 22px;
    font-weight: var(--heading-font-weight);
    color: var(--dark-title-color);
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item-subtitle {
    font-family: var(--heading-font);
    font-size: 12px;
    font-weight: var(--heading-font-weight);
    color: var(--dark-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}