.questions {
}

.questions-container {
    background-color: #F7F7F7;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
        padding: 80px 193px;
    }
}

.questions-title {
    margin-bottom: 40px;
        
    @include desktop {
        margin-bottom: 65px;
    }
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-item {
    border: 1px solid #DFE2E5;
    padding: 16px;

    @include desktop {
        padding: 24px;
    }
}

.faq-input {}

.faq-title {}

.faq-text {}