.service {}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title {
    margin-bottom: 5px;

    @include desktop {
        margin-bottom: 55px;
    }
}

.service__list {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
}

.service__item {
    padding: 40px 20px 20px 20px;
    background-color: #F7F7F7;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--light-text-color);
        background-color: var(--active-link-color);
    }
}

.service__item-content {}

.service__item-icon {
    margin-bottom: 24px;
    fill: #FE390C;

    .service__item:hover & {
        fill: var(--icons-color);
    }
}

.service__item-title {
    margin-bottom: 8px;

    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 700;
    line-height: var(--primary-text-line-height);
    color: var(--dark-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .service__item:hover & {
        color: var(--light-title-color);
    }
}

.service__item-description {}