.stacks {
    background-image: linear-gradient(to bottom, #F7F7F7 50%, var(--primary-background-color) 50%);
}

.stacks__list {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 48px;

    @include desktop {
        margin-bottom: 80px;
    }
}

.stacks__item {}

.stacks__link {
    color: #A7AAB4;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #2196f3;
    }
        
    &:focus {
        color: #2196f3;
    }
}

.stacks__icon {
    fill: currentColor
}

.stacks__actions {
    background-color: var(--secondary-background-color);

    padding: 50px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.stacks__actions-title {
    color: var(--light-text-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 32px;
    font-weight: var(--text-font-weight);
    text-transform: capitalize;

    margin-bottom: 40px;

    @include desktop {
        font-size: 40px;
    }
}

.stacks__hire-button {
    margin: 0 auto 20px auto;
}

.stacks__download-button {
    background-color: transparent;
    color: var(--btn-text);
    border: none;
    cursor: pointer;

    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        transform: scale(1.1);
    }

    &--modal {
        margin-top: 15px;
        color: var(--dark-text-color);
        font-weight: 500;
    }
}

.stacks__download-icon {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    .stacks__download-button:hover & {
        transform: scale(1.2);
    }
}