.stacks {
    background-image: linear-gradient(to bottom, #F7F7F7 50%, var(--primary-background-color) 50%);
    position: relative;
    overflow: hidden;

        &::before {
                @include tablet { 
                content: "Fullstack";
                position: absolute;
                top: 60%;
                left: 30%;
                transform: translate(-50%, -50%) rotate(-30deg);
                font-family: var(--heading-font);
                font-size: 60px;
                font-weight: medium;
                color: rgba(255, 255, 255, 0.03);
                text-align: center;
                text-transform: uppercase;
                z-index: 1;
            }

                @include desktop {
                    font-size: 100px;
                    color: rgba(255, 255, 255, 0.01);
                }
            
            }

            &::after {
                @include tablet {
                content: "Developer";
                position: absolute;
                top: 60%;
                left: 73%;
                transform: translate(-50%, -50%) rotate(-30deg);
                font-family: var(--heading-font);
                font-size: 60px;
                font-weight: medium;
                color: rgba(255, 255, 255, 0.03);
                text-align: center;
                text-transform: uppercase;
                z-index: 1;
            }

            @include desktop {
                    font-size: 100px;
                    color: rgba(255, 255, 255, 0.01);
                }
           
            }
}

.stacks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacks-title {
    margin-bottom: 40px;

    @include desktop {
        margin-bottom: 65px;
    }
}

.stacks__list {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 48px;

    @include tablet {
        gap: 50px;
    }

    @include desktop {
        margin-bottom: 80px;
        gap: 90px;
    }
}

.stacks__icon {
    fill: #A7AAB4;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            fill: var(--active-link-color);
        }
    
        &:focus {
            fill: var(--active-link-color);
        }}

.stacks__actions {
    width: 100%;
    background: linear-gradient(-30deg, #111214 0%, #111214 15%, #161719 15%, #161719 50%, #1f2022 50%, #1f2022 60%, #1a1b1d 60%, #1a1b1d 90%, #111214 90%, #111214 100%);
    padding: 50px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.stacks__actions-title {
    color: var(--light-text-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 32px;
    font-weight: var(--text-font-weight);
    text-transform: capitalize;

    margin-bottom: 40px;

    @include desktop {
        font-size: 40px;
    }
}

.stacks__hire-button {
    margin: 0 auto 20px auto;
}

