.testimonial__content {
    position: relative;
    padding-top: 155px;

    @include tablet {
        padding-top: 70px;
    }

    @include desktop {
        display: flex;
        gap: 120px;
    }
}

.testimonial__image {
    margin-bottom: 32px;

    @include desktop {
        margin-bottom: 0;
    }
}

.testimonial__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @include desktop {
        width: calc(100% - 484px);
        margin-top: 0;
        justify-content: space-between;
    }
}

.testimonial-slider {
    overflow: hidden;

    & .swiper-pagination-bullet {
        background-color: var(--btn-color);
        border-radius: 0%;
    }
}

.testimonial__info {
    margin-bottom: 45px;

    @include desktop {
        margin-bottom: 0;
    }
}

.testimonial__title {
    position: absolute;
    top: 30px;

    @include tablet {
        top: 240px;
        left: 430px;
    }

    @include desktop {
        position: static;
    }
}

.testimonial__text {
    font-size: 14px;
    color: var(--dark-text-color);
    margin-bottom: 32px;
}

.testimonial__author {
    font-weight: 400;
}

.testimonial__name {
    color: var(--accent-text-color);
    font-size: 16px;
    font-weight: var(--text-font-weight);
}
