.testimonial {}

.testimonial__content {}

.testimonial__image {
    margin-bottom: 32px;
}

.testimonial__info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.title-accent {}

.testimonial__text {
    color: var(--dark-text-color);
    margin-bottom: 32px;
}

.testimonial__author {
    font-weight: 400;

    margin-bottom: 45px;
}

.testimonial__name {
    color: var(--accent-text-color);
    font-size: 16px;
    font-weight: var(--text-font-weight);
}
