:root {
    --dark-title-color: #111214;
    --light-title-color: #FFFFFF;
    --accent-title-color: #FE390C;
    --primary-text-color: #A9A9AA;
    --dark-text-color: #111214;
    --light-text-color: #FFFFFF;
    --accent-text-color: #FE390C;
    --placeholders-color: rgba(169, 169, 170, 0.6);
    --icons-color: #ffffff;
    --icons-background-color: rgba(255, 255, 255, 0.1);
    --btn-color: #FE390C;
    --btn-color-hover: #D82E00;
    --btn-text: #ffffff;
    --active-link-color: #FE390C;
    --nav-link-color: #A9A9AA;
    --contact-link-color: #FE390C;

    --primary-background-color: #ECF0F0;
    --secondary-background-color: #111214;

    --heading-font: 'Anton', sans-serif;
    --text-font: 'Montserrat', sans-serif;
    --heading-line-height: 1.5;
    --heading-font-weight: 400;
    --primary-text-line-height: 2.3;
    --secondary-text-line-height: 1.7;
    --heading-font-weight: 500;
}